/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
    background-color: #fff;
}
.dropit .dropit-trigger { position: relative;background-color: #fff; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%; /* dropdown left or right */
    display: none;
    min-width: 150px;
    width: 100%;
    height: 160px;
    list-style: none;
	padding: 10px;
	margin: 0;
    text-align: center;
    align-content: center;
    background-color: #fff;
}

.dropit .dropit-open .dropit-submenu { background-color: #fff; display: block; padding-top: 10px; }
